<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: antiquewhite;

        }
        *{
            margin:0px;
            padding:0px;
            box-sizing: border-box;
        }
        header{
            size:100%;
            font-size: 40px;
            text-align: center;
            color:aqua;
            text-shadow: 2px 2px rgb(48, 43, 43);
        }
        .main{
            border:1px solid  black;
            display:grid;
            height:94vh;
        }
    </style>
</head>
<body>
    <header>welcome to mobilepricenepal.com</header>
    <div class="main">

    </div>
</body>
</html>